  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  img {
    border-radius: 5px 5px 0 0;
  }
  
  .containerText {
    padding: 2% 16%;
  }

  .corners {
    position: absolute;
    right: 150px;
    margin-top:7.5px;
  }

  .cornerText {
    position: relative;
    margin-top:7.5px;
    margin-left: 100px;
  }

  .overAll{
    margin-left: 10px;
  }
  .commentName{
    font-weight: 500;
    font-size: 105%;
  }
  .second{
    color:#53270e;
    font-size: 83%;
    font-weight: 400;
    margin-left: 8px;
  }
  .fs{
    font-size: 150%;
    font-weight: 500;
  }
@media only screen and (min-width : 320px) {
    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 98%;
        border-radius: 5px;
        margin-left: 1%;
        margin-top: 1%;
        position: relative;
      }
      .cardSp {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 98%;
        border-radius: 5px;
        margin-left: 1%;
        margin-top: 1%;
        position: relative;
      }
      .imgWidth{
        width: 100%;
      }
}

@media only screen and (min-width : 420px) {
    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 47%;
        border-radius: 5px;
        margin-left: 1%;
        margin-top: 1%;
        position: relative;
        float: left;
      }
      .cardSp {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 100%;
        border-radius: 5px;
        margin-left: 1%;
        margin-top: 1%;
        position: relative;
      }
      .imgWidth{
        width: 100%;
      }
}
@media only screen and (min-width :768px) {
    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 32%;
        border-radius: 5px;
        margin-left: 1%;
        margin-top: 1%;
        position: relative;
      }
      .cardSp {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 50%;
        border-radius: 5px;
        margin-left: 1%;
        margin-top: 1%;
        position: relative;
      }
      .imgWidth{
        width: 100%;
      }
}
@media only screen and (min-width :1025px) {
    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 23%;
        border-radius: 5px;
        margin-left: 1%;
        margin-right: 0.5%;
        margin-top: 1%;
        position: relative;
    }
    .cardSp {
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      width: 60%;
      border-radius: 5px;
      margin-left: 1%;
      position: relative;
    }
    .imgWidth{
      width: 100%;
    }
}
